<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Yuxin Calculator</title>
</head>
<body>
    <!-- A form that takes 3 inputs, lead_hours, tester_hours, and misc_hours, and calculates the price.
        lead_hours = $60/hour 
        tester_hours = $38/hour
        misc_hours = $38/hour
        The hourly rates are set as above by default, but user is allowed to change them -->

    <div class="container-lg my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 border border-2 border-primary-subtle rounded p-3">
                <h2 class="text-center"><i class="bi bi-calculator"></i> Yuxin Calculator <i class="bi bi-calculator"></i></h2>
                <div class="row justify-content-center">
                    <div class="col-lg-10 mt-3">
                        <form id="form">
                            <label for="lead_hours" class="form-label fw-bold">Lead Hours:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-clock"></i>
                                </span>
                                <input type="number" class="form-control" id="lead_hours" name="lead_hours" value="0" min="0" step="0.01" required>
                                <span class="input-group-text">hours</span>
                                <input type="number" class="form-control" id="lead_rate" name="lead_rate" value="60" required>
                                <span class="input-group-text">$ per hour</span>
                            </div>

                            <label for="lead_misc" class="form-label fw-bold">Lead Misc:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-clock"></i>
                                </span>
                                <input type="number" class="form-control" id="lead_misc" name="lead_misc" value="0" min="0" step="0.01" required>
                                <span class="input-group-text">hours</span>
                                <input type="number" class="form-control" id="lead_misc_rate" name="lead_misc_rate" value="60" required>
                                <span class="input-group-text">$ per hour</span>
                            </div>
        
                            <label for="test_hours" class="form-label fw-bold">Tester Hours:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-clock"></i>
                                </span>
                                <input type="number" class="form-control" id="test_hours" name="test_hours" value="0" min="0" step="0.01" required>
                                <span class="input-group-text">hours</span>
                                <input type="number" class="form-control" id="test_rate" name="test_rate" value="38" required>
                                <span class="input-group-text">$ per hour</span>
                            </div>

                            <label for="test_misc" class="form-label fw-bold">Tester Misc:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-clock"></i>
                                </span>
                                <input type="number" class="form-control" id="test_misc" name="test_misc" value="0" min="0" step="0.01" required>
                                <span class="input-group-text">hours</span>
                                <input type="number" class="form-control" id="test_misc_rate" name="test_misc_rate" value="38" required>
                                <span class="input-group-text">$ per hour</span>
                            </div>

                            <!-- New Misc Lines added to this div below -->
                            <div id="misc_lines" class="mb-4"></div>

                            <!-- Add Misc Line button -->
                            <div class="mb-4 text-start">
                                <button type="button" class="btn btn-success" id="add_misc_line"><i class="bi bi-plus-lg"></i> Add Other Misc Line</button>
                            </div>

                            <!-- Calculate button -->
                            <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-secondary">Calculate</button>
                            </div>

                            <!-- The result will be displayed here -->
                            <label for="calculation" class="form-label fw-bold">Cost Calculation:</label>
                            <p id="result"></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="./static/script.js"></script>
    <script>
        // Add a misc line when the button is clicked
        document.getElementById("add_misc_line").addEventListener("click", function() {
            addMiscLine();
        });

        // Calculate the cost when the form is submitted
        document.getElementById("form").addEventListener("submit", function(e) {
            e.preventDefault();
            calculate();
        });
    </script>
</body>
</html>